.container{

  align-items: center;
  justify-content: center;
  background-color: bisque;
  padding-left: 40%;
  
}

.heading{
  color: blue;
  font-size: larger;
}

.input{
  width: 300px;
  font-size: large;
}

.error-message{
  background-color: red;
  font-size: larger;
  font-weight:500;
}